.billboard {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
    border-color: white;
    border: 1px solid white;
}

.billboard-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.billboard-content {
    text-align: left;
    align-self: flex-start;
}

.billboard-link {
    text-decoration: none;
    color: inherit;
}

.kind-pills {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.kind-pill {
    background-color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: 0.875rem;
    color: black
}


.nip-pills {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.nip-pill {
    background-color: #8e44ad;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
}